.calculator__canvas {
	width: 243px;
	height: 448px;
	@include flex(center);
	flex-direction: column;
	gap: 12px;
	border: 2px dashed $grey3;
	transition: all 0.3s;
	&--drag-enter {
		background-color: $blue2;
	}
}
