.calculator__canvas-tooltip-wrapper {
	@include flex(center, start);
	flex-direction: column;
	.calculator__canvas-tooltip-i {
		width: 20px;
		height: 20px;
		background-image: url('../../../../public/assets/images/icons/Group\ 2.svg');
		@include bgPositionImg();
		margin-bottom: 12px;
	}
	.calculator__canvas-tooltip {
		width: 103px;
		@include font(Inter, 400, 12px, 14.52px);
		color: $grey4;
		&--main {
			width: 100%;
			@include font();
			color: $blue1;
			margin-bottom: 4px;
		}
	}
}
